/* LandingPage.css */
.landing-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 100vh;
    background-color: #673AB7;
    /* Purple */
    color: #4CAF50;
    /* Green */
    padding-bottom: 2rem;
}

.landing-content {
    text-align: center;
    margin-top: 5rem;
}

.landing-title {
    font-size: 4rem;
    margin-bottom: 1rem;
}

.landing-subtitle {
    font-size: 1.5rem;
    margin-bottom: 2rem;
}

.landing-button {
    background-color: #4CAF50;
    /* Green */
    color: #fff;
    padding: 1rem 2rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.2rem;
    transition: background-color 0.3s ease;
}

.landing-button:hover {
    background-color: #388E3C;
    /* Darker Green */
}

.feature {
    background-color: #fff;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.feature-title {
    margin-bottom: 1rem;
    color: #673AB7;
    /* Purple */
}

.feature-description {
    color: #333;
}

.section-title {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 3rem;
    color: #673AB7;
    /* Purple */
}

.testimonial {
    background-color: #fff;
    padding: 1.5rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.testimonial-author {
    margin-top: 1rem;
    color: #4CAF50;
    /* Green */
}

.footer {
    background-color: #333;
    width: 100%;
    margin-top: 10rem;
    padding: 1rem 0;
    color: #fff;
    text-align: center;
}